{% extends 'base.html' %}

<!-- Extra scripts -->
{% block headscripts %}
<script>
  function play(audioid){
    var audio = document.getElementById(audioid);
    audio.play();
  }
</script>
{% endblock %}

<!-- Title bar -->
{% block titlebar %}
  Duolingo - {{ username }}!
{% endblock %}

{% block user %}
  {{ username }}
{% endblock %}

<!-- Side bar -->
{# block sidebar #}
<ul class="list-unstyled CTAs">
    <!-- <li>
        <a href="" class="download"></a>
    </li>
    <li>
        <a href="" class="article"></a>
    </li> -->

  {% for c, cd in char.items %}
    {% for dict in cd %}
      <li>
        <a href="#{{ dict.index }}" class="download" title="Subject Helper Text">
          &nbsp;
          <!-- {userdata.tts_base_url_http} + '/tts/' + {language_data[i]} -->
          <i class="fas fa-play-circle" onclick="play('{{ dict.pinyin }}audio')" title="Play Audio Clip"></i>
          <audio id="{{ dict.pinyin }}audio" src="https://d7mj4aqfscim2.cloudfront.net/tts/zs/jiaoling/token/{{ c }}"></audio>
          &nbsp;
          <i class="fas fa-dumbbell" title="Practice"></i>
          &nbsp;
          {{ c|default:"" }}{% if dict.pinyin %} - {{ dict.pinyin|default:"" }}{% endif %}
        </a>
      </li>
    {% endfor %}
  {% endfor %}
</ul>
{# endblock #}

{% block sidebar %}
    {% for c, cd in char.items %}
      {% for dict in cd %}
        <ul class="sidebaritem pl-3 pr-3">
          <!-- Audible representation of character -->
          <li>
            <span class="fas fa-play-circle ml-2" onclick="play('{{ dict.pinyin }}audio')" title="Play Audio Clip"></span>
            <audio id="{{ dict.pinyin }}audio" src="https://d7mj4aqfscim2.cloudfront.net/tts/zs/jiaoling/token/{{ c }}"></audio>
          </li>
          <!-- Page navigation of character-->
          <li>
            <span class="sbimiddle">
              <a href="#{{ dict.index }}" class="pt-0" {% if dict.pinyin %} title="{{ c|default:'' }} ({{ dict.pinyin|default:'' }}) - {{ dict.definition|default:'' }}" {% endif %}>
                {{ c|default:"" }}
              </a>
            </span>
          </li>
          <!-- Practice icon -->
          <li>
            <span class="fas fa-dumbbell mr-2" title="Practice"></span>
          </li>
        </ul>
      {% endfor %}
    {% endfor %}
{% endblock %}

<!-- User Metrics -->
{# block contentRow1 #}
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="container-fluid bg-light">
    <!-- Avatar -->
    <!-- <h1 class="display-4"><p class="text-center">{# username #}</p></h1> -->
    <!-- User Data Col 1 -->
    <!-- User Data Col 2 -->
  </div> 

{# endblock #}

<!-- Main body content -->
{% block contentRow2 %}

  <div>
    <div class="container-fluid" style="border-radius: .25rem">
    {% for wl, wd in wordlists.items %}
      {% for dict in wd %}
        <hr>
        <p id="{{ dict.index }}" class="lead text-center">
          {{ wl }}
        </p>
        <hr>
        {{ dict.explanation|safe }}
      {% endfor %}
    {% endfor %}
    </div>
  </div>

{% endblock %}

{% block footscripts %}

{% endblock %}