{% extends 'base.html' %}
{% load static %}
<!-- Extra scripts -->
{% block headscripts %}
    <meta http-equiv="refresh" content="5;url={% url 'main:home' username %}" />
{% endblock %}

<!-- Sidebar home submenu -->
{% block homesubmenu %}
  <li>
    <a href="https://www.duolingo.com/practice">Practice</a>
  </li>
  <li>
    <a href="{% url 'tests:duotest' username %}">Duolingo Vocab Test</a>
  </li>
{% endblock %}

<!-- Title bar -->
{% block title %}
  Duolingo - {{ username }}!
{% endblock %}

{% block userstats %}
  <li class="nav-item">
    {% if streakinfo.streak_extended_today %}
      <font color="green">
    {% else %}
      <font color="red">
    {% endif %}
    Current streak is {{ streakinfo.site_streak }} days.
  </font>
  </li>
{% endblock %}



<!-- Side bar -->
{% block user %}
  {{ username }}
{% endblock %}

{% block sidebar %}

{% endblock %}


<!-- Main body content -->
{% block contentRow %}
    <div class="container">
      <audio id="wrong_answer_audio" src="https://d35aaqx5ub95lt.cloudfront.net/sounds/lesson_complete.mp3"></audio>
      <h1 class="display-4 text-center text-success">You passed!</h1>
      <hr class="my-4">
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="width:100%" src="{% static 'images/zhu.png' %}">
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="width:100%" src="{% static 'images/he.png' %}">
            </div>
        </div>
        <hr class="my-4">
        <p class="h6 text-center">This page will be redirected back to the <a href="{% url 'main:home' username %}">home</a> page</p>
    </div>

{% endblock %}

{% block footscripts %}

{% endblock %}