{% extends 'base.html' %}

{% block titlebar %}
  Duolingo - {{ username }}!
{% endblock %}

{% block sidebar %}
  {% for word in words %}
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="layers"></span>
            {{ word|default:"" }}
        </a>
    </li>  
  {% endfor %}
{% endblock %}

{% block content %} 
    {% for words, exp in dictionary %}
      <div class="jumbotron text-center">
        <p class="lead">
          {% for word in words %}
            {{ word|default:"" }} {% if not forloop.last %} ,&nbsp; {% endif %}
          {% endfor %}
        </p>
      </div>
      {{ exp|safe|default:"" }}
    {% endfor %}
  </div>
{% endblock %}